# Virtual environment
venv/
env/
.env
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX
*.aux
*.log
*.out
*.pdf
*.synctex.gz

# CSV backup files
*.backup

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# API keys and secrets
.env
.streamlit/secrets.toml

# Streamlit cache
.streamlit/
.streamlit/secrets.toml
*.env
